[project]
	description = My fork of https://github.com/grzesuav/jpf-core
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/grzesuav
[access "refs/for/refs/*"]
	read = group user/grzesuav
	push = group user/grzesuav
	label-Code-Review = -2..+2 group user/grzesuav
	label-Verified = -1..+1 group user/grzesuav
	rebase = group user/grzesuav
	removeReviewer = group user/grzesuav
	submit = group user/grzesuav
[access "refs/heads/*"]
	read = group user/grzesuav
	create = group user/grzesuav
	push = +force group user/grzesuav
	pushMerge = group user/grzesuav
[access "refs/tags/*"]
	push = +force group user/grzesuav
	pushTag = group user/grzesuav
	pushSignedTag = group user/grzesuav
